html {
  box-sizing: border-box;
}

*= require cookieconsent;
*,
*::before,
*::after {
  box-sizing: inherit;
}

@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }
}

   @media only screen and (max-width: 640px) {h1 { font-size: 30px !important; }}

   @media only screen and (max-width: 640px) {p { font-size: 20px !important; }}

   @media only screen and (max-width: 640px) {h2 { font-size: 25px !important; }}

   @media only screen and (max-width: 640px) {footer1 { font-size: 20px !important; }}

   @media only screen and (max-width: 640px) {footer2 { font-size: 20px !important; }}


.mobile-bg-fix-wrap .mobile-bg-fix-img {
position: absolute;
width: 100%;
height: 125%;
background-size: cover;
}

body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: white;
  background-image: url("Untitled_Artwork.png");
  background-size: cover;
  background-position: 90%;
  background-attachment: fixed;
}

h1 {
  font-family: Helvetica;
  margin: 0;
  margin-bottom: 60px;
  font-size: 45px;
  font-weight: normal;
  opacity: 1;
  line-height: 55px;
  letter-spacing: 0.035em;
}

h2 {
  font-family: Helvetica;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  line-height: 32px;
  letter-spacing: 0.035em;

}

p {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #ffffff

}
p:not(:last-child) {
  margin-bottom: 21px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  text-decoration: none;
  color: dimgray;
}

.main {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 2px;
    padding-left: 40px;
  background-image: url("Untitled_Artwork.png");
}

.content {
  max-width: 768px;
  margin-bottom: 60px;
}

  .footer1 {
    position: fixed;
    width:100%;
    text-decoration: underline;
    bottom: 0px;
    left: 46px;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.03em;
    background-color: "#35459a"
}
  .footer2 {
      position: fixed;
      width:100%;
      bottom: 0px;
      left: 46px;
      text-decoration: underline;
      font-size: 20px;
      line-height: 60px;
      letter-spacing: 0.03em;
      background-color: "#35459a";
      font color="#ffffff"

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
#cookiePopup {
  background-color: #ffffff;
  position: absolute;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
}
#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}
#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
}
#cookiePopup a {
  color: #6859fe;
}
.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}
.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
