/*! joppekusters.nl.css v1.0.3 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Times New Roman;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: black;
  background-image: url("background2.jpg");
}

h1 {
  font-family: Helvetica, cursive;
  margin: 0;
  margin-bottom: 60px;
  font-size: 45px;
  font-weight: Regular;
  opacity; 1;
  line-height: 30px;
  letter-spacing: 0.035em;
}

p {
  margin: 0;
}
p:not(:last-child) {
  margin-bottom: 21px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  text-decoration: none;
  color: dimgray;
}

.main {
  position: relative;
  margin: 0 auto;
  padding: 60px;
  background-image: url("background2.jpg");
}

.content {
  max-width: 768px;
  margin-bottom: 60px;
}

.img {
  margin: 0;
  margin-bottom: 60px;
}
.img img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 962px) {
  .main {
    height: 100vh;
  }

  .content {
    width: 33%;
    max-width: 452px;
  }

  .img {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 60px;
    margin-bottom: 0;
  }
  .img img {
    min-height: 100%;
  }

  .footer {
    position: absolute;
    bottom: 60px;
    left: 60px;
  }
}
